/*Custom Properties*/
:root {
  --orange: hsl(37, 90%, 59%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --heading-font-family: "Merriweather", serif;
  --subheading-font-family: "Roboto Slab", serif;
  --body-font-family: "Nunito", sans-serif;
}
/* Decent Defaults */
p {
  font-size: 1.2rem;
  font-family: var(--body-font-family);
}
h1 {
  margin: 2rem 0 1.38rem;
  font-family: "Merriweather", serif;
  font-weight: 700;
  line-height: normal;
  color: var(--black);
  padding-top: 20px;
}
h2 {
  margin: 2rem 5 1.5rem;
  font-family: "Roboto Slab", serif;
  font-weight: 100;
  line-height: normal;
  color: var(--black);
  padding-top: 5px;
}

img,
video {
  width: 100%;
  height: auto;
}
.textoverlay {
  position: relative;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.overlay-title {
  position: absolute;
  top: 125px;
  left: 40rem;
  color: black;
}
.overlay-subtitle {
  position: absolute;
  bottom: 350px;
  left: 36rem;
  color: black;
}
/*Container holding image text*/

header {
  background: hsl(0, 0%, 0%);
}
.container {
  position: relative;
  text-align: left;
  color: black;
  margin: auto;
  padding: 0 0.5rem;
  max-width: 70rem;
}

.navbar {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-list {
  list-style-type: none;
  width: 100%;
  text-align: end;
  padding-top: 5px;
}

.nav-list .list-item {
  display: inline-block;
  padding: 1rem 3rem;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color: var(--orange);
}

.primary-icon {
  height: 50px;
}

/* centered text*/
.centered {
  position: absolute;
  top: 15%;
  left: 55%;
  transform: translate(-50%, -50%);
}
@media all and (max-width: 480px) {
  .navbar {
    flex-direction: column;
  }
  .nav-list .list-item {
    padding: 0.2rem 0.1rem;
    display: flex;
  }
}
.footer-container {
  background-color: black;
  padding-bottom: 0.1rem;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
.flex {
  display: flex;
  flex-direction: column;
  gap: 0 1rem;
}
.card {
  padding: 0.2rem;
  margin: 10%;
}
.card-1 {
  text-align: center;
}

.resize {
  float: left;
  width: 400px;
  padding: 0 60px 20px 0;
}
/* Mobile Only Styles */
@media (max-width: 47.9375em) {
  .sm\:text-center {
    text-align: center;
  }
  .flex {
    flex-direction: column;
  }
  .primary-icon {
    height: 25px;
  }
  p {
    font-size: 1.5rem;
  }
}

/* Desktop Only Styles */
@media (min-width: 48em) {
  .sm\:text-center {
    text-align: center;
  }
  p {
    font-size: 1.5rem;
  }
  .flex {
    gap: 0 1rem;
  }
  .flex > * {
    width: 100%;
  }
}
