/*Custom Properties*/
:root {
  --orange: hsl(37, 90%, 59%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --heading-font-family: "Merriweather", serif;
  --subheading-font-family: "Roboto Slab", serif;
  --body-font-family: "Nunito", sans-serif;
}
/* Decent Defaults */
p {
  font-size: 1.2rem;
  font-family: var(--body-font-family);
}
h1 {
  margin: 2rem 0 1.38rem;
  font-family: "Merriweather", serif;
  font-weight: 700;
  line-height: normal;
  color: var(--black);
  padding-top: 20px;
}
h2 {
  margin: 2rem 5 1.5rem;
  font-family: "Roboto Slab", serif;
  font-weight: 100;
  line-height: normal;
  color: var(--black);
  padding-top: 5px;
}

img,
video {
  width: 100%;
  height: auto;
  border: 5px black;
}
.textoverlay {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.overlay-title {
  top: 125px;
  left: 40rem;
  color: black;
}
.overlay-subtitle {
  position: absolute;
  bottom: 350px;
  left: 36rem;
  color: black;
}

.accordian {
  max-width: 400px;
  box-shadow: 0 0 10px hsl(0, 0%, 0%);
  border-radius: 5px;
  overflow: hidden;
  font-family: var(--body-font-family);
  background: hsl(37, 90%, 59%);
}

.accordian__label,
.accordian__content {
  padding: 14px 20px;
}

.accordian__label {
  display: block;
  color: black;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  transition: background 0.1s;
}
.accordian__label:hover {
  background: hsl(37, 90%, 59%);
}
.accordian__label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 12px;
  height: 6px;
  transition: transform 0.4s;
}
.accordion__content {
  background: #ffffff;
  line-height: 1.6;
  font-size: 0.85em;
  display: none;
}

.accordion__input {
  display: none;
}

.accordion__input:checked ~ .accordion__content {
  display: block;
}

.accordion__input:checked ~ .accordion__label::after {
  transform: translateY(-50%) rotate(0.5turn);
}

/*Container holding image text*/

header {
  background: hsl(0, 0%, 0%);
}
.container {
  position: relative;
  text-align: left;
  color: black;
  margin: auto;
  padding: 0 0.5rem;
  max-width: 70rem;
}
.container-2 {
  gap: 0.5rem;
  padding-top: 10rem;
  padding-left: 12rem;
  padding-right: 17rem;
  padding-bottom: 20rem;
}
.gallery {
  grid-template-columns: repeat(3, 1fr);
  aspect-ratio: 1;
  object-fit: cover;
  display: grid;
  gap: 2rem;
}
.gallery:nth-child(3n + 1) {
  grid-row-end: span 2;
}
.gallery:nth-child(2n + 2) {
  grid-column-end: span 2;
}
.navbar {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-list {
  list-style-type: none;
  width: 100%;
  text-align: end;
  padding-top: 5px;
}

.nav-list .list-item {
  display: inline-block;
  padding: 1rem 3rem;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color: var(--orange);
}

.primary-icon {
  height: 50px;
}

/* centered text*/
.centered {
  position: absolute;
  top: 15%;
  left: 55%;
  transform: translate(-50%, -50%);
}
@media all and (max-width: 480px) {
  .navbar {
    flex-direction: column;
  }
  .nav-list .list-item {
    padding: 0.2rem 0.1rem;
    display: flex;
  }
}
.footer-container {
  background-color: black;
  padding-bottom: 0.1rem;
}
.footer {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  justify-content: space-between;
}
.flex {
  display: flex;
  flex-direction: column;
  gap: 0 1rem;
}
.card {
  padding: 0.2rem;
  margin: 10%;
}
.card-1 {
  text-align: center;
}
.card-2 {
  display: inline-block;
  margin: 1%;
  max-width: 1250px;
  padding-left: 200px;
}

.card-3 {
  text-align: left;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 2%;
}
.card-4 {
  display: inline-block;
}

.yellow {
  color: var(--orange);
}

.resize {
  float: left;
  width: 400px;
  padding: 0 60px 20px 0;
}

.adjust {
  width: 1500px;
  height: 900px;
  padding-left: 8%;
  padding-right: 3%;
}
figcaption {
  color: black;
  font-family: var(--body-font-family);
  padding-left: 8%;
  padding-right: 8%;
}
/* Mobile Only Styles */
@media (max-width: 47.9375em) {
  .sm\:text-center {
    text-align: center;
  }
  .flex {
    flex-direction: column;
  }
  .primary-icon {
    height: 25px;
  }
  p {
    font-size: 1.5rem;
  }
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Desktop Only Styles */
@media (min-width: 48em) {
  .sm\:text-center {
    text-align: center;
  }
  p {
    font-size: 1.5rem;
  }
  .flex {
    gap: 0 1rem;
  }
  .flex > * {
    width: 100%;
  }
}
